<TEI>
 <teiHeader>
  <fileDesc>
   <titleStmt>
    <title>
     Springfield (Illinois)
    </title>
    <author>
     <orgName>
      Wikipedia contributors
     </orgName>
    </author>
   </titleStmt>
   <publicationStmt>
    <publisher>
     Wikipedia, The Free Encyclopedia (Wikimedia)
    </publisher>
   </publicationStmt>
   <sourceDesc>
    <bibl>
     <ptr target="https://co.wikipedia.org/wiki/Springfield%20%28Illinois%29"/>
     <date>
      2014-03-23T15:00:22Z
     </date>
    </bibl>
   </sourceDesc>
  </fileDesc>
 </teiHeader>
 <text>
  <body xml:lang="co">
   <head>
    Springfield (Illinois)
   </head>
   <p>
    Springfield hè una cità di i Stati Uniti, capitale di Illinois. Tene 116.250 abitanti (2010).
   </p>
   <p>
    Stati Uniti d'America
   </p>
  </body>
 </text>
</TEI>
